@import 'constants';

.AddQuote {
  width: 40rem;
  max-width: 70rem;

  .quote-add-component {
    position: relative;

    & > input {
      float: left;
      width: 70%;
      border-right: 1px solid $color-gray-divider;
    }

    & > .AutosuggestPerson {
      float: left;
      width: 30%;
    }
  }

  .context {
    border-bottom: 1px solid $color-gray-divider;
  }

  button {
    width: 50%;
  }


}
