@import url('https://fonts.googleapis.com/css?family=Lato:300,400');
@import 'constants';
@import 'AddQuote';
@import 'BoardView';
@import 'NavSidebar';
@import 'QuoteCard';
@import 'QuoteInfoPage';

$transition-all: all 0.3s ease;
$font-family-default: 'Lato', sans-serif;

* {
  box-sizing: border-box;
}

html,
body,
#root,
.app {
  height: 100%;
  margin: 0;
  font-family: $font-family-default;
}

.gear-icon {
  fill: $color-icon-blue;
}

.plus-icon {
  stroke: $color-icon-blue;
  stroke-width: 0.25rem;
}

.app {
  position: relative;
  background: rgb(48,58,85);
  background: radial-gradient(circle at 80% 0, rgba(35,42,66,1) 0%, rgba(22,27,50,1) 100%);
  color: $color-content-text;
}

.split-page-2 {
  display: flex;
  flex-direction: row;

  & > div {
    flex-grow: 1;

    &:first-child {
      border-right: 1px solid $color-gray-divider;
    }
  }
}

.centered-box-container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
}

.centered-box-container > div {
  border: 1px solid $color-gray-divider;
  background: $color-content-background;
  padding: 2em;
}

.popup-container {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.7);
  z-index: 10000;
}

.primary-container {
  display: flex;
  flex-direction: column;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

.popup-container {
  display: flex;
  align-items: center;
  justify-content: center;


  & > div {
    display: inline-block;
    color: $color-content-text;
    background-color: $color-content-background;
  }
}

.content {
  flex-grow: 1;
  position: relative;
  display: flex;
  flex-direction: row;
  color: #ccc;
  overflow-x: hidden;
  overflow-y: auto;
}

.primary-content {
  flex: 1 1 auto;
  position: relative;
  overflow-y: auto;
}

input[type='text'] {
  padding: 1em;
  border: 1px solid $color-gray-divider;
  background-color: $color-content-background;
  color: $color-content-text;
}

button {
  color: $color-content-text;
  background-color: $color-content-background;
  border: none;
  padding: 1em;
  cursor: pointer;

  &:hover {
    background: $color-button-gray-dark;
  }

  &.submit {
    background-color: $color-button-blue;

    &:hover {
      background-color: $color-button-blue-dark;
    }
  }
}

.person-info {
  img {
    border-radius: 50%;
    display: block;
    margin: 2em auto 0;
    max-width: 50%;
  }

  .name,
  .title {
    text-transform: uppercase;
    display: block;
    text-align: center;
    letter-spacing: 0.05em;
  }

  .name {
    font-size: 1.4em;
    margin: 1em 0 0.5em;
  }

  .title {
    font-size: 0.9em;
  }
}

.quote-info {
  img {
    width: 2em;
    min-width: 2em;
    border-radius: 1em;
    cursor: pointer;
  }

  .quote-component {
    display: flex;
    align-items: center;
    margin: 1.5em;

    .words {
      margin-left: 1em;
    }
  }
}

.centered {
  text-align: center;
  margin-left: auto;
  margin-right: auto;
}

.comment-add {

}


input[type='text'] {
  border-top: none;
  border-left: none;
  border-right: none;
}

textarea {
  color: $color-content-text;
  margin: 0;
  display: block;
  width: 100%;
  max-width: 100%;
  min-width: 100%;
  background-color: $color-content-background;
  border: none;
  padding: 1em;
  font-family: $font-family-default;
  min-height: 3em;
}

.quote-cards {
  overflow-x: hidden;
}

.quote-info {

  h2 {
    font-size: 1.2em;
    margin: 0.5rem;
  }

  .comment,
  .no-comments {
    margin: 1rem;
  }

  .no-comments {
    font-style: italic;
  }

  .comment-add {

    textarea {
      border-top: 1px solid $color-gray-divider;
    }

    .buttons button {
      width: 50%;
      border-top: 1px solid $color-gray-divider;
      border-bottom: 1px solid $color-gray-divider;

      &:last-of-type {
        border-left: 1px solid $color-gray-divider;
      }
    }
  }
}

.person-add input {
  display: block;
}
