$transition-all: all 0.3s ease;

* {
  box-sizing: border-box;
  -webkit-transition: $transition-all;
  -moz-transition: $transition-all;
  -o-transition: $transition-all;
  transition: $transition-all;
}

html,
body,
#root,
.app {
  height: 100%;
  margin: 0;
  font-family: Helvetica, sans-serif;
}

$darken-delta: 3;
$color-gray-divider: #353f57;
$color-content-background: #2d364d;
$color-button-blue: #304367;
$color-button-blue-dark: darken($color-button-blue, $darken-delta);
$color-button-gray: $color-content-background;
$color-button-gray-dark: darken($color-button-gray, $darken-delta);
$color-content-text: #ccc;

.app {
  display: flex;
  flex-direction: row;
  color: #ccc;
}

.primary-content {
  padding: 1em;
  height: 100%;
  flex: 1 1 auto;
  background: rgb(48,58,85);
  position: relative;
  background: radial-gradient(circle at 80% 0, rgba(35,42,66,1) 0%, rgba(22,27,50,1) 100%);
}

.sidebar {
  height: 100%;
  display: flex;
  flex-direction: column;
  background: rgb(48,58,85);
  position: relative;
  background: radial-gradient(circle at 80% 0, rgba(48,58,85,1) 0%, rgba(29,38,65,1) 100%);

  .header {
    padding: 1em;
  }

  nav {
    span {
      display: block;
      padding: 0.5em 1em;
      border-left: 0.2em solid rgba(38, 46, 70, 0);

      .current {
        background-color: #262e46;
        border-left: 0.2em solid #ccc;
      }

      &:hover {
        background-color: #21283d;
        cursor: pointer;
      }
    }
  }
}

.quote-add {

  button {
    color: $color-content-text;
    background-color: $color-content-background;
    border: none;
    padding: 1em;
    cursor: pointer;

    &:hover {
      background: $color-button-gray-dark;
    }

    &.add {
      background-color: $color-button-blue;

      &:hover {
        background-color: $color-button-blue-dark;
      }
    }
  }

  $quote-entry-width: 70%;

  max-width: 70rem;
  margin: 2em auto;

  .quote-add-component {

    position: relative;

    input[type='text'] {
      width: $quote-entry-width;
       padding: 1em;
       border: none;
       border-bottom: 1px solid $color-gray-divider;
       background-color: $color-content-background;
       color: $color-content-text;
     }

    & > input[type='text'] {
      border-right: 1px solid $color-gray-divider;
    }

    .react-autosuggest__container {
      width: (100% - $quote-entry-width);
      display: inline-block;
      position: absolute;
    }

    .react-autosuggest__container--open {
      z-index: 400;
    }

    .react-autosuggest__container .react-autosuggest__input {
      width: 100%;
      z-index: 200;
    }

    .react-autosuggest__suggestions-container {
      overflow: auto;
      background-color: $color-content-background;
      z-index: 100;

      ul {
        margin: 0;
        padding: 0;
        list-style-type: none;

        li {
          padding: 1em;
          border-bottom: 1px solid $color-gray-divider;
          cursor: pointer;

          &:hover,
          &:focus,
          &.react-autosuggest__suggestion--highlighted {
            background-color: darken($color-content-background, $darken-delta);
          }

          .person-suggestion {
            display: flex;
            align-items: center;

            img {
              height: 2em;
              border-radius: 1em;
            }

            span {
              margin-left: 1em;
              color: $color-content-text;
              -webkit-user-select: none;
              -moz-user-select: none;
              -ms-user-select: none;
              user-select: none;
            }
          }

        }
      }
    }

  }

  .context {
    color: $color-content-text;
    margin: 0;
    width: 100%;
    max-width: 100%;
    min-width: 100%;
    display: block;
    background-color: $color-content-background;
    border: none;
    border-bottom: 1px solid $color-gray-divider;
    min-height: 3em;
    padding: 1em;
    font-family: Helvetica;
  }

  button {
    width: 50%;
  }


}

.quote-cards {
  display: flex;
  flex-direction: row;

  .quote-card {
    margin: 1em;
    border-radius: 1em;
    background-color: #303a55;
    width: 20%;

    .text {
      font-size: x-large;
      display: block;
    }

    .attributes {
      border-top: 1px solid #546480;
      display: flex;
      align-items: center;
    }

    .text,
    .attributes {
      padding: 1em;
    }

    .attributes .name {
      margin-left: 1em;
    }

    img {
      width: 2em;
      border-radius: 1em;
    }
  }
}

.person-add input {
  display: block;
}