@import url('https://fonts.googleapis.com/css?family=Lato:300,400');

$transition-all: all 0.3s ease;
$font-family-default: 'Lato', sans-serif;

* {
  box-sizing: border-box;
}

html,
body,
#root,
.app {
  height: 100%;
  margin: 0;
  font-family: $font-family-default;
}

$darken-delta: 3;
$color-gray-divider: #353f57;
$color-content-background: #2d364d;
$color-button-blue: #304367;
$color-button-blue-dark: darken($color-button-blue, $darken-delta);
$color-button-gray: $color-content-background;
$color-button-gray-dark: darken($color-button-gray, $darken-delta);
$color-content-text: #ccc;

.app {
  position: relative;
}

.popup-container {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.7);
  z-index: 10000;
}

.primary-container {
  display: flex;
  flex-direction: column;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

.header {
  flex-grow: 0;
  color: $color-content-text;
  padding: 1em;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;

  .logo {
    font-size: xx-large;
  }

  .user-info {
    button.login {
      border: 3px solid $color-button-blue;
      -webkit-border-radius: 1em;
      -moz-border-radius: 1em;
      border-radius: 0.3em;
    };
  }
}

.popup-container {
  display: flex;
  align-items: center;
  justify-content: center;


  & > div {
    display: inline-block;
    padding: 2em;
    color: $color-content-text;
    background-color: $color-content-background;
  }
}

.content {
  flex-grow: 1;
  position: relative;
  display: flex;
  flex-direction: row;
  color: #ccc;
  overflow-x: hidden;
  overflow-y: auto;
}

.primary-content {
  padding: 1em;
  flex: 1 1 auto;
  background: rgb(48,58,85);
  position: relative;
  background: radial-gradient(circle at 80% 0, rgba(35,42,66,1) 0%, rgba(22,27,50,1) 100%);
}

input[type='text'] {
  padding: 1em;
  border: 1px solid $color-gray-divider;
  background-color: $color-content-background;
  color: $color-content-text;
}

button {
  color: $color-content-text;
  background-color: $color-content-background;
  border: none;
  padding: 1em;
  cursor: pointer;

  &:hover {
    background: $color-button-gray-dark;
  }

  &.submit {
    background-color: $color-button-blue;

    &:hover {
      background-color: $color-button-blue-dark;
    }
  }
}

.sidebar {
  height: 100%;
  display: flex;
  flex-direction: column;
  background: rgb(48,58,85);
  position: relative;
  background: radial-gradient(circle at 80% 0, rgba(48,58,85,1) 0%, rgba(29,38,65,1) 100%);

  &.collapsed {
    display: none;
  }

  .close-button {
    position: absolute;
    right: 1rem;
    top: 1rem;
    color: #aaa;
    font-size: xx-large;
    cursor: pointer;
  }

  .header {
    margin: 1em;
  }

  nav {
    span {
      display: block;
      padding: 0.5em 1em;
      border-left: 0.2em solid rgba(38, 46, 70, 0);

      &.current {
        background-color: #262e46;
        border-left: 0.2em solid #ccc;
      }

      &:hover {
        background-color: #21283d;
        cursor: pointer;
      }
    }
  }

  &.info {
    width: 20%;
  }
}

.person-info {
  img {
    border-radius: 50%;
    display: block;
    margin: 2em auto 0;
    max-width: 50%;
  }

  .name,
  .title {
    text-transform: uppercase;
    display: block;
    text-align: center;
    letter-spacing: 0.05em;
  }

  .name {
    font-size: 1.4em;
    margin: 1em 0 0.5em;
  }

  .title {
    font-size: 0.9em;
  }
}

.quote-info {
  img {
    width: 2em;
    min-width: 2em;
    border-radius: 1em;
    cursor: pointer;
  }

  .quote-component {
    display: flex;
    align-items: center;
    margin: 1.5em;

    .words {
      margin-left: 1em;
    }
  }
}

.centered {
  text-align: center;
  margin-left: auto;
  margin-right: auto;
}

.comment-add {

}


input[type='text'] {
  border-top: none;
  border-left: none;
  border-right: none;
}

textarea {
  color: $color-content-text;
  margin: 0;
  display: block;
  width: 100%;
  max-width: 100%;
  min-width: 100%;
  background-color: $color-content-background;
  border: none;
  padding: 1em;
  font-family: $font-family-default;
  min-height: 3em;
}

.quote-add {

  $quote-entry-width: 70%;
  max-width: 70rem;
  margin: 2em auto;

  .quote-add-component {

    position: relative;

    input[type='text'] {
      width: $quote-entry-width;
    }

    & > input[type='text'] {
      border-right: 1px solid $color-gray-divider;
    }

    .react-autosuggest__container {
      width: (100% - $quote-entry-width);
      display: inline-block;
      position: absolute;
    }

    .react-autosuggest__container--open {
      z-index: 400;
    }

    .react-autosuggest__container .react-autosuggest__input {
      width: 100%;
      z-index: 200;
    }

    .react-autosuggest__suggestions-container {
      overflow: auto;
      background-color: $color-content-background;
      z-index: 100;

      ul {
        margin: 0;
        padding: 0;
        list-style-type: none;

        li {
          padding: 1em;
          border-bottom: 1px solid $color-gray-divider;
          cursor: pointer;

          &:hover,
          &:focus,
          &.react-autosuggest__suggestion--highlighted {
            background-color: darken($color-content-background, $darken-delta);
          }

          .person-suggestion {
            display: flex;
            align-items: center;

            img {
              height: 2em;
              border-radius: 1em;
            }

            span {
              margin-left: 1em;
              color: $color-content-text;
              -webkit-user-select: none;
              -moz-user-select: none;
              -ms-user-select: none;
              user-select: none;
            }
          }

        }
      }
    }

  }

  .context {
    border-bottom: 1px solid $color-gray-divider;
  }

  button {
    width: 50%;
  }


}

.quote-cards {
  $quote-cards-per-row: 4;
  $quote-cards-gutter-width: 1%;
  overflow-x: hidden;

  .quote-card {
    margin: $quote-cards-gutter-width;
    border-radius: 1em;
    background-color: #303a55;
    width: (100% - 2*$quote-cards-per-row*$quote-cards-gutter-width)/$quote-cards-per-row;

    .words {
      font-size: 1.3em;
      display: block;
    }

    span.words {
      margin: 1em;
    }

    .attributes {
      border-top: 1px solid #546480;
      display: flex;
      align-items: center;
    }

    .attributes {
      padding: 1em;
    }

    .attributes {
      font-size: 0.8em;

      .author-info {
        display: flex;
        align-items: center;
      }

       .author-name {
         cursor: pointer;
         display: inline-block;

         &:first-of-type {
           margin-left: 1em;
         }

         &:not(:last-of-type)::after {
           content: ',';
           margin-right: 0.2em;
         }

         &:hover {
           color: white;
         }
       }
    }

    img {
      width: 2em;
      min-width: 2em;
      border-radius: 1em;
      cursor: pointer;
    }

    .quote-component {
      display: flex;
      align-items: center;
      margin: 1.5em;

      .words {
        margin-left: 1em;
      }
    }
  }
}

.quote-info {

  h2 {
    font-size: 1.2em;
    margin: 0.5rem;
  }

  .comment,
  .no-comments {
    margin: 1rem;
  }

  .no-comments {
    font-style: italic;
  }

  .comment-add {

    textarea {
      border-top: 1px solid $color-gray-divider;
    }

    .buttons button {
      width: 50%;
      border-top: 1px solid $color-gray-divider;
      border-bottom: 1px solid $color-gray-divider;

      &:last-of-type {
        border-left: 1px solid $color-gray-divider;
      }
    }
  }
}

.person-add input {
  display: block;
}
