@import 'colors';

.BoardView {

  .header {
    display: flex;
    justify-content: space-between;
    background-color: $color-content-background;
    border-bottom: 1px solid $color-gray-divider;

    .board-name {
      font-size: 1.2em;
      font-weight: bold;
    }
  }

}
