* {
  box-sizing: border-box;
}

html,
body,
#root,
.app {
  height: 100%;
  margin: 0;
  font-family: Helvetica, sans-serif;
}

.app {
  display: flex;
  flex-direction: row;
  color: #ccc;
}

.sidebar {
  height: 100%;
  display: flex;
  flex-direction: column;
  background: rgb(48,58,85);
  position: relative;
  background: radial-gradient(circle at 80% 0, rgba(48,58,85,1) 0%, rgba(29,38,65,1) 100%);
}

.sidebar .header {
  padding: 1em;
}

.sidebar nav span {
  display: block;
  padding: 0.5em 1em;
  border-left: 0.2em solid rgba(38,46,70,0);
}

.sidebar nav span.current {
  background-color: #262e46;
  border-left: 0.2em solid #ccc;
}

.sidebar nav span:hover {
  background-color: #21283d;
  cursor: pointer;
}

.primary-content {
  padding: 1em;
  height: 100%;
  flex: 1 1 auto;
  background: rgb(48,58,85);
  position: relative;
  background: radial-gradient(circle at 80% 0, rgba(35,42,66,1) 0%, rgba(22,27,50,1) 100%);
}

.quote-cards {
  display: flex;
  flex-direction: row;
}

.quote-card {
  margin: 1em;
  border-radius: 1em;
  background-color: #303a55;
  padding: 1em;
  width: 20%;
}

.quote-card .text {
  font-size: x-large;
  margin-bottom: 0.8em;
  display: block;
}

.quote-card .attributes {
  display: flex;
  align-items: center;
}

.quote-card .attributes .name {
  margin-left: 1em;
}

.quote-card img {
  width: 2em;
  border-radius: 1em;
}
